{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'logo.png' %}" alt="Logo FALKAOH" style="height: 40px; vertical-align: middle; margin-right: 8px;">
            FALKAOH CONSULTING
        </a>
    </h1>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="{% static 'logo.png' %}">
    <link rel="icon" type="image/png" href="{% static 'logo.png' %}">
{% endblock %}
